.navigation {
  width: 100%;
  box-shadow: 0 1px 5px;
  background: #615269;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__container {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  min-width: 300px;
  max-width: 800px;
  margin: 12px;
}

.navigation__container--left {
  align-items: flex-start;
}
.navigation__container--right {
  align-items: flex-end;
}
